// Colors
$primary: #007bff;
$text: #333;
$light-bg: #f2f2f2;
$border: #ccc;

// Container
.register-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: $light-bg;
}

// Card
.register-card {
  width: 350px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);

  text-align: center;

  h2 {
    margin-bottom: 20px;
    color: $text;
    font-weight: 600;
  }

  .input-box {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid $border;
    font-size: 16px;
  }

  .btn-register {
    width: 100%;
    padding: 12px;
    background: $primary;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: 0.2s;

    &:hover {
      background: $primary;
    }
  }

  p {
    margin-top: 15px;
    font-size: 15px;

    span {
      color: $primary;
      cursor: pointer;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
